- if user_signed_in?
	#intro.twelve.columns
		%h3
			Hello, 
			= current_user.name
		%br/
		%span
			Share your inspiration and see what's inspiring others.
- else
	%p#intro
		What's your muse?
		%br/
		%span
			Share your inspiration and see what's inspiring others.
%ul#posts.row
	- @posts.each do |post|
		%li.post.three.columns
			.post_image
				= link_to (image_tag post.image.url(:thumb)), post
			.post_content
				.title
					%h4= link_to post.title, post
				.data.clearfix
					%p.username
						Shared By
						= post.user.name
					%p.buttons
						%span
							%i.fa.fa-comments-o
							= post.comments.count
						%span
							%i.fa.fa-thumbs-o-up
							= post.get_likes.size
