!!!
%html
	%head
		%title ADCC Inspiration Room
		
		= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"
		= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
		= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
		= stylesheet_link_tag "application", :media => "all"

		= csrf_meta_tags
		
		= javascript_include_tag 'application'

	%body.container
		%header.row
			.twelve.columns
			#logo.two.columns= link_to (image_tag("adcc_logo.png")), root_path
			%nav.nine.columns
				- if user_signed_in?
					.two.columns.new_insp_button.u-pull-right= link_to "Add new Inspiration", new_post_path, class: "button"
					.two.columns.user_profile.u-pull-right= link_to current_user.name, edit_user_registration_path, class: "button"
				- else
					= link_to "Sign In", new_user_session_path
					= link_to "Sign Up", new_user_registration_path, class: "button"
		%p.notice= notice
		%p.alert= alert
		
		= yield